<button
  title={{this.updateTask.last.error}}
  class="aircraft-status {{this.airworthinessClass}} {{if this.isLoading "aircraft-status--loading"}} {{if this.isError "aircraft-status--error"}}"
  onclick={{action "refresh"}}>

  <span class="aircraft-status__callsign">{{@callsign}}</span>
  <span class="aircraft-status__type">{{this.type}}</span>

  {{svg-jar "thumb-up" width="24" height="24" class="aircraft-status__thumb-up"}}
  {{svg-jar "thumb-down" width="24" height="24" class="aircraft-status__thumb-down"}}
  {{svg-jar "error" width="24" height="24" class="aircraft-status__error"}}
  {{svg-jar "refresh" width="24" height="24" class="aircraft-status__refresh"}}
</button>