<button
  type="button"
  title={{this.updateTask.last.error}}
  class="aircraft-status {{this.airworthinessClass}} {{if this.isLoading "aircraft-status--loading"}} {{if this.isError "aircraft-status--error"}}"
  data-test-button
  {{on "click" (perform loopTask)}}
>

  <span class="aircraft-status__callsign" data-test-callsign>{{@callsign}}</span>
  <span class="aircraft-status__type" data-test-type>{{this.type}}</span>

  {{svg-jar "thumb-up" width="24" height="24" class="aircraft-status__thumb-up"}}
  {{svg-jar "thumb-down" width="24" height="24" class="aircraft-status__thumb-down"}}
  {{svg-jar "error" width="24" height="24" class="aircraft-status__error"}}
  {{svg-jar "refresh" width="24" height="24" class="aircraft-status__refresh"}}
</button>